*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    font-size: 20px;
}

/* utility */

.text-white{
    color:white
}

/* Header------------------------------------- */

header{
    width: 100%;
    height: 5vh;
}

.upper-band{
    height: 100%;
    width: 100%;
    background-color: rgb(53, 53, 53);
}
/* Main---------------------------------------- */

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    padding: 4rem;
}

.view{
    width: calc(100%/7);
    background-color: white;
    margin: 1rem;
    display: inline-block;
}

img{
    width: 100%; 
}

.microphone{
    color: white;  
}

.mic-pos{
    position: absolute;
}

/* Footer--------------------------------------- */

footer{
    width: 100%;
    height: 5vh;
}

.lower-band{
    height: 100%;
    width: 100%;
    background-color: rgb(53, 53, 53);
}
