*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;  
}

body{
    
    height: 100%;
}

/* utility */

.text-white{
    color:white
}

.m-t{
    vertical-align: center;
}
.green-text{
    color: green;
}


/* Header------------------------------------- */

header{
    height: 2.5rem;
    position: relative;
    background: rgb(20, 20, 20);
}

/* Main---------------------------------------- */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap ;
    padding: 3rem 4rem;
    background: black;
    position: relative;
    justify-content: center;
}

.view{
    padding: 0.1rem;
    width: calc(100%/7);
    position: relative;
}

img{
    width: 100%;
}

.mic-pos{
    position: absolute;
    left: 0;
    bottom: 0.3rem;
    padding: 0.3rem;
    background:  rgba(0,0,0,0.3);
    color: white;
}

.speaker-view-position{
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.speaker-view-position span{
    background: gray;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 0.7rem;
    vertical-align: middle;
}

.speaker-view-position span i{
    font-size: 0.7rem;
    justify-self: center;
}


/* Footer--------------------------------------- */

footer{
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 4rem;
    bottom: 0vh;   
}

.lower-band{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    background: #1b1b1b;   
}

.lower-band-left{
    display: flex;
}

.lower-band-centre{
    display: flex;
}

.lower-band-right{
    display: flex;
    background-color: #383838;
    color: red;
    align-items: center;
}

.lower-lower-band{
    height: 2.5rem;
    width: 100%;  
}

.items{
    margin: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

.items:hover{
    cursor: pointer;
}

.items div{
    font-size: 0.8rem;
}

.items i{
    font-size: 0.8rem;
}




