*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;  
}

body{
    position: relative;
}
/* utility */

.text-white{
    color:white
}

.m-t{
    vertical-align: center;
}
.green-text{
    color: green;
}

.m-top{
     margin-top: 1rem;
}

.font-size{
    font-size: 5px;
}


/* Header------------------------------------- */

header{
    height: 2.5rem;
    background: rgb(20, 20, 20);
     display: flex;
     justify-content: flex-end;
     align-items: center;
     position: fixed;
     top: 0vh;
    z-index: 1;
    width: 100%;
    
}

.upper-band{
    background: rgb(20, 20, 20);
}

.speaker-view-position{
    color: white;
    position: relative;
    right:0.5rem;
    
}

.speaker-view-position span{
    background: gray;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 0.5rem;
    vertical-align: middle;
}

.speaker-view-position span i{
    font-size: 0.5rem;
    justify-self: center;
}
/* Main---------------------------------------- */

.container{
    width: 100%;
    height: calc(100vh-(4rem +2.5rem));
    display: flex;
    flex-wrap: wrap ;
    margin-top:1.5rem;
    padding: 2rem 3rem;
    background: black;
    position: relative;
    justify-content: center;
}

.view{
    padding: 0.1rem;
    width: calc(100%/7);
    position: relative;
}

img{
    width: 100%;
}

.mic-pos{
    position: absolute;
    left: 0;
    bottom: 0.3rem;
    padding: 0.2rem;
    background:  rgba(0,0,0,0.3);
    color: white;
    border-top-right-radius: 5px;
}

.mic-pos div,i{
    font-size: 12px;
}



/* Footer--------------------------------------- */

footer{
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 1.5vh;   
}

.lower-band{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    background: #1b1b1b;   
}

.lower-band-left{
    display: flex;
}

.lower-band-centre{
    display: flex;
}

.lower-band-right{
    display: flex;
    background-color: #383838;
    color: red;
    align-items: center;
}

.lower-lower-band{
    height: 2.5rem;
    width: 100%;  
}

.items{
    margin: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

.items:hover{
    cursor: pointer;
}

.items div{
    font-size: 0.8rem;
}

.items i{
    font-size: 0.8rem;
}




